* {
    font-family: Verdana, Geneva, sans-serif; 
}

.container {
    height: 100%;
}



.form-container {
    background-color: #f6e6e675;
    width: 500px;
    box-shadow: 5px 5px 5px black;
    border: solid 1px black;
    position: fixed;
    top: 440px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.form-container2 {
    background-color: #f6e6e6c2;
    width: 500px;
    box-shadow: 5px 5px 5px black;
    border: solid 1px black;
    position: fixed;
    top: 292px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.info {
    background-color:#f6e6e6c2;
    width: 400px;
    height: 170px;
    box-shadow: 5px 5px 5px black;
    border: solid 1px black;
    position: fixed;
    top: 627px;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.info2 {
    background-color: #f6e6e6c2;
    width: 400px;
    height: 170px;
    box-shadow: 5px 5px 5px black;
    border: solid 1px black;
    position: fixed;
    top: 627px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.info3 {
    background-color:#f6e6e6c2;
    width: 400px;
    height: 170px;
    box-shadow: 5px 5px 5px black;
    border: solid 1px black;
    position: fixed;
    top: 627px;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;

}


.logo {
    margin-top: -60px;
    margin-left: 329px;
}


.md-form {
    margin-top: 50px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}

body {
    background-image: url("../images/map.jpg");
    background-size: cover;
    height: 100%;
    margin: -37px;
}

nav {
    height: 100px;
    
}

.icons {

border: #0c0c0c;
border-width: 0px;
border-style: solid;
}

.btn {
    background-color:#59421b;
}
.bg-light {
    background-color:#dcd1c48f!important;
}
.rounded {
    border-radius:0.25rem!important;
}
button, input, optgroup, select, textarea {
    margin: 5px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.hotel:hover{
    background-color:clear;
    box-shadow: inset 0 0 0 0 ;
    transform: rotate(360deg);
    transition: 1s;
}
.all:hover{
    background-color:clear;
    box-shadow: inset 0 0 0 0 ;
    transform: rotate(360deg);
    transition: 1s;
}
.attractions:hover{
    background-color:clear;
    box-shadow: inset 0 0 0 0 ;
    transform: rotate(360deg);
    transition: 1s;
}
.restaurant:hover{
    background-color:clear;
    box-shadow:  inset 0 0 0 0 ;
    transform: rotate(360deg);
    transition: 1s;
}
#map {
    height: 520px;
    width: 70%;
    margin: 30px;
    box-shadow: 5px 5px 5px black;
    border: solid 5px black;
}



  element.style {
    margin-left: 255px;
}
#icon{
    margin-right:0px;
}
#wicon{
    margin-right:0px
}
#mintemp{
    margin-right:80px;
}
.hotelbody{
    margin:0;
    margin-top: 65px;
}
.allbody{
    margin:0;
    margin-top: 65px;
}
.abody{
    margin:0;
    margin-top: 65px;
}
.restraurantbody{
    margin:0;
    margin-top: 65px;
}
.modal-content{
    background-color: #b5ab99e3;
}

  